body {
  background-color: #d5e5ed;
  background-image: url(./woodgrain.png);
}
#about {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: black;
  color: white;
  z-index: 1002;
  overflow: auto;
}
#click {
  display: none;
  position: absolute;
  z-index: 1010;
  border: 1px solid red;
  border-radius: 5px;
  background-color: yellow;
  width: 10px;
  height: 10px;
}
#controls {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
#score {
  border: 1px solid black;
}
#target {
  position: absolute;
  background-color: orange;
  height: 75px;
  width: 75px;
}

